img {
  max-width: 50%;
  border-radius: 10px;
  display: block;
  margin: 30px auto;
}
body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  text-align: center;
}

.nav-links {
  margin-right: 30px;
}
